@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s linear infinite;
}

.page {
	min-width: 1100px;
	/* мы ещё не умеем делать мобильную версию сайта, */
	/* поэтому выше установлена минимальная ширина страницы */
	max-width: 1600px;
	/* выше установили ограничение по максимальной ширине */
	margin: 0 auto;
	/* выше для экранов больше 1600px отцентрировали весь контент */
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
	height: 100vh;
	min-height: 600px;
	max-height: 756px;
	display: flex;
	position: relative;
	background-color: #f2f2f2;
  flex-direction: column;
	justify-content: center;
	/* выше установили ограничения для секции */
}

.logo {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.logo_place_header {
	width: 183px;
	height: 32px;
	position: absolute;
	top: 30px;
	left: 64px;
	order: 1;
	background-image: url(../images/logo_place_header.svg);
}

.header__title {
	position: relative;
	width: 730px;
	margin-left: 64px;
	font-size: 102px;
	line-height: 96px;
	font-weight: bold;
}

.header__subtitle {
	position: absolute;
	width: 388px;
	left: 64px;
	bottom: 30px;
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
}

.header__link {
	color: #2f80ed;
	text-decoration: none;
  transition: opacity .4s ease ease-in;
}

.header__link:hover {
  opacity: 0.7;
}

.header__main-illustration {
	position: absolute;
	width: 765px;
	height: 608px;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.header__square-pic {
	height: 568px;
	width: 568px;
	top: 64px;
	right: 0;
	background-color: #2f80ed;
	position: absolute;

}

.description {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.two-columns {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.two-columns__brief {
	margin: 0;
	padding: 0;
	width: 175px;
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
	color: #2f80ed;
}

.two-columns__main-text {
	margin: 0;
	padding: 0;
	width: 80%;
	min-width: 784px;
}

.two-columns__paragraph {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 24px;
	line-height: 34px;
	font-weight: normal;

}

.two-columns__span-accent {
	font-weight: bold;
}

.techniques {
  margin: 0 auto;
  padding-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: 240px;
  margin-right: 100px;
  text-align: center;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px 40px;
}
.cards__title {
  margin-bottom: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  display: flex;
  position: relative;
  top: 50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:first-child {
  margin-right: 20px;
}

.oakley {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.feynman {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f2f2f2;
	min-height: 890px;
	padding-top: 100px;
	background-position: bottom 0 left 0;
	background-repeat: no-repeat;
	position: relative;
	background-size: 867px 637px;
	background-image: url(../images/feynman.png);
}

.feynman__title {
	width: 648px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	line-height: 1.15;
	font-size: 120px;
	text-align: center;
}

.feynman__subtitle {
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 70px;
}

.feynman__link {
	top: 50%;
	right: 48px;
	color: #2f80ed;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	position: absolute;
	text-decoration: none;
  transition: opacity .4s ease ease-in;
}

.feynman__link:hover {
  opacity: 0.7;
}

.digits {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.section-title {
	margin: 0 auto;
	width: 60%;
	text-align: center;
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
}

.section-subtitle {
	margin: 0 auto;
	text-align: center;
	width: 60%;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	margin-top: 20px;
}

.table {
	justify-content: space-between;
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin: 0 auto;
	z-index: 1;
}

.digits__table {
	margin-top: 0;
}

.table__heading {
	line-height: 1.15;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.table__text {
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
}

.table__cell {
	width: 250px;
	margin-top: 60px;
	list-style: none;
}

.table__cell_theme_dark {
	width: 200px;
	color: white;
	margin-right: 0;
	margin-top: 80px;
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
  z-index: 2;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan_title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 50px 0 36px 0;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-position: top;
  object-fit: cover;
}

.khan__buy-link {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .4s ease-in;
}

.khan__buy-link:hover {
  opacity: 0.7;
}

.kaufman {
	background-color: #1f1f1f;
	position: relative;
	padding-bottom: 90px;
  padding-top: 90px;
  overflow: hidden;
}

.section-title_theme_dark {
	color: white;
}

.section-subtitle_theme_dark {
	color: white;
}

.table_theme_dark {
	color: white;
	z-index: 1;
}

.table__heading_theme_dark {
	color: white;
}

.table__text_theme_dark {
	color: white;
}

.theme_dark {
	color: rgb(255, 255, 255);
}

.kaufman__triangle {
	background-image: url(../images/kaufman-triangle.svg);
	width: 877px;
	height: 877px;
	position: absolute;
	right: -210px;
	top: 0;
	background-size: 877px 877px;
}

.resources {
  padding: 100px 0 217px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.resources__logo {
  width: 270px;
  height: 38px;
  transition: opacity .4s ease ease-in;
}

.resources__logo:hover {
  opacity: 0.7;
}

.footer {
	min-height: 350px;
	display: flex;
	justify-content: center;
	background-color: #1f1f1f;
	box-sizing: border-box;
	padding: 60px 0 40px 0;
}

.footer__columns {
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.footer__column_content_copyright {
	flex-basis: 711px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo_place_footer {
	width: 183px;
	height: 35px;
	background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
	margin-bottom: 18px;
	margin-top: 18px;
	padding: 0;
	color: white;
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
}

.footer__column-heading {
	margin: 0;
	padding: 0;
	color: white;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}

.footer__column-links {
	display: flex;
	flex-direction: column;
	margin: 20px 0 16px 0;
	list-style: none;
	padding: 0;
}

.footer__social-icon {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

.footer__column-link {
	color: white;
	text-decoration: none;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
  transition: opacity .4s ease ease-in;
}

.footer__column-link:hover {
  opacity: 0.7;
}
